    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> {{title}} </h1>
            <h2 class="text-center text-primary fw400"> {{subTitle}}  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> {{elem1}} <span class="text-primary">//</span> {{elem2}} <span class="text-primary">//</span> {{elem3}} <span class="text-primary">//</span> {{elem4}}</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a aria-label="Nos vidéos sur l'Academie WS - Formation WS" class="text-light smallBorderRadius colorWhite btn btn-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="https://www.academiews.fr/categories"><i class="far fa-play-circle me-2"></i>{{button}}</a>
        </div>

    </div>