{% extends 'base.html.twig' %}

{% block title %}Hello RealisationsController!{% endblock %}

{% block body %}
{% set title = 'bar' %}
{# {% set subTitle = 'bar' %} #}
{% set elem1 = 'bar' %}
{% set elem2 = 'bar' %}
{% set elem3 = 'bar' %}
{% set elem4 = 'bar' %}
{# {% set button = 'Découvrir nos solutions' %} #}
        {% include 'header/index.html.twig' %}



<div class="container text-center">

 <h1 >{{realisation.title}}</h1>
<img src="{{asset('images/defis/vol drone zone urbaine.png')}}" alt="">
 <p class="py-5  fw600">{{realisation.description}}</p>

</div>
       

{# 
        <div class="p-5 col-md-3 fw600">
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{asset('images/services/drone au nature.png' ~ service.picture)}}" alt="Card image cap">
                                        <div class="card-body">
                                                <h5 class="card-title">{{ service.name }}</h5>
                                                <p class="card-text">{{service.description}}</p>
                                                <a href="{{path('app_services_details', { id : service.id })}}" class="btn btn-primary">Accéder au détail du service</a>
                                        </div>
                                </div>
                        </div> #}

{% endblock %}